* {
  box-sizing: border-box;
}
/*.item {
  border: 4px solid red;
  border-radius: 4px;
}*/
body {
  background-color: hsl(185, 41%, 84%);
  color: cyan hsl(172, 67%, 45%);
  font-family: Space Mono;
  font-weight: bold;
  margin: 0;
}
li {
  text-decoration: none;
  display: inline-block;
}
.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  grid-template-areas:
  "n1 n1 n1 n1"
  "s1 b1 b1 b2"
  "s1 b1 b1 b2"
  "s1 b1 b1 b2"
  "a1 a1 a1 a1"
  "f1 f1 f1 f1";
  grid-row-gap: 10px;
}
.nested_container1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "j1 k1";
  justify-items: center;
  text-align: left;
}
.nested_container2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "c1 f1"
  "d1 g1"
  "e1 h1";
  justify-items: center;
  text-align: center;
}
#one {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
#two {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
.symbol1 {
  text-align: right;
  margin-left: 3em;
  font-size: 20px;
}
.symbol2 {
  text-align: right;
  margin-left: 4em;
  font-size: 20px;
}
#tAResult {
  text-align: left;
  margin-left: 0.5em;
  color: hsl(172, 67%, 45%);
  font-size: 20px;
  padding: 20px;
}
#tPResult {
  text-align: left;
  margin-left: 0.5em;
  color: hsl(172, 67%, 45%);
  font-size: 20px;
  padding: 20px;
}
p > #error0 {
  display: none;
  color: red;
}
p > #error1 {
  display: none;
  color: red;
}
.navbar {
  grid-area: n1;
  text-align: center;
}
.body {
  grid-area: b1;
  background-color: white;
  border-radius: 10px;
  /*border: solid 1px hsl(172, 67%, 45%);*/
  padding: 0;
  grid-column-gap: 5em;
}
.first {
  grid-area: j1;
}
.second {
  grid-area: k1;
  grid-row-gap: 40px;
}
.bill {
  grid-area: c1;
}
.input1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 1px;
  text-align: right;
  height: 1.5em;
  width: 12em;
}
.input2 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 15px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  height: 1.8em;
  width: 4em;
}
.input3 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 2px;
  text-align: right;
  height: 1.5em;
  width: 12em;
}
#myBtn {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  border: solid hsl(172, 67%, 45%);
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  margin-right: 3em;
  height: 1.8em;
  width: 4em;
  font-size: 15px;
  font-family: Space Mono;
  font-weight: bold;
}
#myBtn1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  border: solid 3px hsl(172, 67%, 45%);
  font-size: 15px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 2px;
  text-align: center;
  height: 3em;
  width: 15em;
}
.nested_container3 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(184, 14%, 56%);
  border-radius: 3px;
}
.white {
  color: white;
}
.tippercent {
  grid-area: d1;
}
.people {
  grid-area: e1;
}
.tipAmmount {
  grid-area: f1;
}
.total {
  grid-area: g1;
}
.reset {
  grid-area: h1;
  padding: 1em;
  margin: 2em;
}
.footer {
  grid-area: f1;
}