* {
  box-sizing: border-box;
}
/*.item {
  border: 4px solid red;
  border-radius: 4px;
}*/
body {
  background-color: hsl(185, 41%, 84%);
  color: cyan hsl(172, 67%, 45%);
  font-family: Space Mono;
  font-weight: bold;
  margin: 0;
}
li {
  text-decoration: none;
  display: inline-block;
}
.container {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr;
  grid-template-columns: auto;
  grid-template-areas:
  "n1 n1 n1 n1"
  "s1 b1 b1 b2"
  "s1 b1 b1 b2"
  "s1 b1 b1 b2"
  "a1 a1 a1 a1"
  "f1 f1 f1 f1";
  grid-column-gap: 2em;
  padding: 0 2em 0 0.3em;
}
.nested_container1 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "j1"
  "k1";
  justify-items: left;
  text-align: left;
}
.nested_container2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: auto;
  grid-template-areas:
  "c1 f1"
  "d1 g1"
  "e1 h1";
  justify-items: left;
  text-align: center;
}
#one {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
#two {
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
.symbol1 {
  text-align: right;
  margin-left: 0.5em;
  color: hsl(172, 67%, 45%);
  font-size: 23px;
}
.symbol2 {
  text-align: right;
  margin-left: 0.5em;
  color: hsl(172, 67%, 45%);
  font-size: 23px;
}
#tAResult {
  text-align: left;
  margin-left: 0.1em;
  color: hsl(172, 67%, 45%);
  font-size: 22px;
  padding: 5px;
}
#tPResult {
  text-align: left;
  margin-left: 0.1em;
  color: hsl(172, 67%, 45%);
  font-size: 22px;
  padding: 5px;
}
p > #error0 {
  display: none;
  color: red;
}
p > #error1 {
  display: none;
  color: red;
}
span > #currency {
  font-weight: bold;
  color: white;
}
.navbar {
  grid-area: n1;
  text-align: center;
  margin-bottom: 2em;
  padding: 10px;
}
.body {
  grid-area: b1;
  width: 85vw;
  background-color: white;
  border-radius: 10px;
  border: solid 1px hsl(172, 67%, 45%);
  padding: 0;
  grid-column-gap: 5em;
  margin-bottom: 3em;
}
.first {
  grid-area: j1;
  padding: 1vw;
  justify-self: center;
  align-self: center;
}
.second {
  grid-area: k1;
  grid-column-gap: 1vw;
  padding: 1vw;
  justify-self: center;
  align-self: center;
}
.bill {
  grid-area: c1;
}
.input1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 1px;
  text-align: right;
  height: 1.5em;
  width: 10em;
}
.percentages {
  margin-left: 24px;
  margin-right: -16px;
}
.input2 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 15px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 1px;
  text-align: center;
  height: 1.8em;
  width: 4em;
  margin-left: -3em;
  margin-bottom: 10px;
}
.input3 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(185, 41%, 84%);
  border-radius: 3px;
  border: solid 1px hsl(172, 67%, 45%);
  font-size: 20px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 2px;
  text-align: right;
  height: 1.5em;
  width: 10em;
}
#myBtn {
  color: white;
  background: hsl(183, 100%, 15%);
  border: solid hsl(183, 100%, 15%);
  border-radius: 3px;
  padding: 2px;
  text-align: center;
  margin-right: 3em;
  height: 1.8em;
  width: 4em;
  font-size: 15px;
  font-family: Space Mono;
  font-weight: bold;
  margin-left: -3em;
}
#myBtn1 {
  color: cyan hsl(183, 100%, 15%);
  background: hsl(172, 67%, 45%);
  border: solid hsl(172, 67%, 45%);
  border-radius: 3px;
  font-size: 24px;
  font-family: Space Mono;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  height: 2em;
  width: 6em;
}
.nested_container3 {
  margin: 1.7em;
  color: cyan hsl(183, 100%, 15%);
  background: hsl(183, 100%, 15%);
  border-radius: 3px;
}
.white {
  color: white;
}
.tippercent {
  grid-area: d1;
}
.people {
  grid-area: e1;
}
.tipAmmount {
  grid-area: f1;
}
.total {
  grid-area: g1;
}
.reset {
  grid-area: h1;
  padding: 0.5em;
  margin: 2.5em;

}
.footer {
  grid-area: f1;
}
#myBtn:hover {

  color: black;
  background: hsl(172, 67%, 45%);
  border: solid hsl(172, 67%, 45%);
  font-weight: bold;

}
@media screen and (min-width: 968px) {
  .container {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;
    grid-template-columns: auto;
    grid-template-areas:
    "n1 n1 n1 n1"
    "s1 b1 b1 b2"
    "s1 b1 b1 b2"
    "s1 b1 b1 b2"
    "a1 a1 a1 a1"
    "f1 f1 f1 f1";
    grid-column-gap: 2em;
    margin: 0 2em 0 2em;
  }
  .body {
    width: 80vw;
    justify-self: center;
    align-self: center;
  }
  .symbol1 {
    margin-left: 2em;
    font-size: 25px;
  }
  .symbol2 {
    margin-left: 2em;
    font-size: 25px;
  }
  #tPResult {
    font-size: 24px;
  }
  #tAResult {
    font-size: 24px;
  }
  .second {
    margin-right: -2em;
  }
  #myBtn1 {
    width: 10em;
  }
  .nested_container1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas:
    "j1 k1";
    justify-items: center;
    text-align: left;
  }
}